.git/
.github/
.vscode/
node_modules/
scripts/
src/
test/
dist/src/
dist/test/
dist/**/*.map
.editorconfig
.gitignore
.prettierignore
.prettierrc.json
CONTRIBUTING.md
pnpm-lock.yaml
SECURITY.md
tsconfig.json
*.vsix
